@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido </h1>
     <img width="500" height="500"  style="text-align:center"  src="~/img/ClinicLogo2.png">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" style="color: blue; text-align=center; font-weight: bold;">Clinica Dental Rosben</a>.</p>
</div>

<div style="text-align:center">
   
</div>
